/* Body */
$BodyC: rgba(20, 162, 204, 0.47);
/* Navigation */
$LogoMaxH:30px;
$NavBarC: #098cb2;
$NavTxtC: #000000;
$NavTxtCHov: rgba(255, 238, 25, 0.96);
$NavBarBrSz:0;
/* Main */
$MainTopMrg:50px;
/* Footer */
$FtrW:100%;
$FtrPos:static;
$FtrPosBottom:0;
$FtrTxtAlgn:center;
$FtrC: rgba(112, 31, 56, 0.25);
/* Else */
$DocMinH:100%;
$IfrW:100%;
$LiStyle:none;